
.sidebar{
    grid-column: 1/2;
    grid-row: 1/2;
    height: 100%;
    width: min-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 92vh;
    margin-bottom: -2vh;
    position: fixed;
    &-top {
        grid-row: 1/2;
        background-color: rgb(124, 93, 250);
        width: 10.3rem;
        display: flex;
        justify-content: center;
        border-radius: 0px 2rem 2rem 0px;
        z-index: 2;
    }

    &-img {
        width: 45px;
        height: 45px;
        align-self: center;
    }

    &-bottom {
        grid-row: 2/3;
        height: 92vh;
        z-index: 1;
        transform: translateY(-2vh);
        background-color: rgb(30, 33, 57);
        border-radius: 0px 0rem 2rem 0px;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        &--moon {
            height: 2.5rem;
            width: 2.5rem;
            margin-bottom: 1.5rem;
            cursor: pointer;
        }

        &--man {
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            margin-bottom: 3rem;
        }


    }
}

hr {
    width: 100%;
    margin-bottom: 3rem;
    margin-top: 3rem;
    background-color: #000000;
}

@media screen and (max-width: 600px) { 
    .sidebar {
        position: unset;
        height: min-content;
        grid-template-columns: 10vw 90vw;
        grid-template-rows: 7.2rem;

        &-top {
            grid-row: 1/2;
            background-color: rgb(124, 93, 250);
            width: 7.2rem;
            display: flex;
            justify-content: center;
            border-radius: 0px 2rem 2rem 0px;
            z-index: 2;
        }
    
        &-img {
            width: 32px;
            height: 32px;
        }

        &-bottom { 
            padding-right: 3rem; // added
            grid-row: 1/2; // changed
            height: 7.2rem; // changed
            transform: translateY(0); // changed
            border-radius: 0px 0rem 0px 0px; // changed
            flex-direction: row; // changed

            &--moon {
                margin-left: 1rem;
                margin-top: 1.5rem;
            }

            &--man {
                margin-bottom: 0rem; // changed
                
            }
        }
    }

    hr {
        width: 7.2rem; // changed
        transform: rotate(90deg); // changed
    }

}
@media screen and (min-width: 200px) and (max-width: 310px) {
    .sidebar {
        &-bottom {
            padding-right: 2rem;
        }
    }

    hr {
        width: 3rem; // changed
        transform: rotate(90deg); // changed
    }

}

